{
  "env": {
    "esm": {
      "presets": [
        ["es2015", {"modules": false}],
        "flow"
      ]
    },
    "umd": {
      "plugins": [
        "transform-es2015-modules-umd"
      ],
      "presets": ["es2015", "flow"]
    }
  }
}
