{
  "env": {
    "esm": {
      "presets": ["@babel/flow"]
    },
    "umd": {
      "plugins": [
        "@babel/plugin-transform-modules-umd"
      ],
      "presets": ["@babel/env", "@babel/flow"]
    }
  }
}
